@import '../global/breakpoints';
@import '../global/colors';

.title-page {
    padding: 32px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid  #d4d5dc;
    margin-bottom: 120px;
    h1 {
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 59.4px */
    }
  }