@import '../../global/breakpoints';
@import '../../global/colors';
body.page-template-syncup-main {
  main {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
  }
  .banner-page {
    position: relative;
    height: 180px;
    width: 100%;
    margin-top: 54px;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-top: 84px;
    }
    .box-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .img-desktop {
        display: none;
        @include media-breakpoint-up(md) {
          display: flex;
        }
      }
      .img-mobile {
        display: flex;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
    .box-svg {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }

  .tabs-wrapper {
    max-width: 1024px;
    margin: 0 auto 40px;
    @include media-breakpoint-up(md) {
      margin: 0 auto 80px;
      width: fit-content;
      border-bottom: 1px solid #d4d5dc;
    }
    .tabs-nav {
      flex-direction: row;
      gap: 40px;
      justify-content: space-between;
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
      .tab-item {
        color: #36373b;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
        cursor: pointer;
        white-space: nowrap;
        padding-top: 80px;
        @include media-breakpoint-up(md) {
          padding-bottom: 23px;
        }
        &.active {
          color: #04174f;
          font-weight: 700;
          position: relative;
          &::after {
            content: '';
            bottom: 0;
            width: 100%;
            height: 2px;
            transition: 0.6s;
            left: 0;
            position: absolute;
            background-color: #04174f;
          }
        }
      }
    }
    .box-select {
      display: flex;
      width: 100%;
      font-size: 18px;
      border: 1px solid #ccc;
      border-radius: 4px;
      max-width: 240px;
      margin: 0 auto;
      color: #00205b;
      position: relative;
      justify-content: center;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        z-index: 2;
        height: 10px;
        width: 20px;
        right: 20px;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='11' viewBox='0 0 18 11' fill='none'%3E%3Cpath d='M17 1L9 9L1 0.999999' stroke='%2300205B' stroke-width='2'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
      @include media-breakpoint-up(md) {
        display: none;
      }
      .tabs-select {
        text-align: center;
        width: 100%;
        padding: 10px 20px 10px 0;
        text-align-last: center;
        select {
          color: #00205b;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%; /* 16px */
        }
        .select-none {
          display: none;
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 45px;
        transform: translateY(-50%);
      }
    }
  }

  .tabs-content {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
    .wrapper {
      display: flex;
      align-items: center;

      @include media-breakpoint-up(desktop) {
        padding: 0 !important;
      }
      .box-content {
        width: 100%;
        max-width: 640px;

        .label-synciq {
          color: #36373b;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 145%; /* 26.1px */
          margin-bottom: 16px;
        }
        .box-svg {
          margin-bottom: 24px;
        }
        .description-synciq {
          color: #1e1e1e;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 145%; /* 23.2px */
          margin-bottom: 32px;
        }
        .box-repeater-item {
          margin-bottom: 24px;
          .row-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            padding: 20px 0;
            border-bottom: 1px solid #d4d5dc;
            &:first-child {
              padding-top: 0;
            }
          }
        }
        .link-lets {
          border-radius: 8px;
          padding: 16px 34px;
          display: flex;
          // background: #04174f;
          max-width: fit-content;
          width: 100%;
          @include media-breakpoint-up(md) {
            width: fit-content;
            margin: initial;
            max-width: initial;
          }
          p {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 16px */
          }
        }
      }
      .box-image-video {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 420px;
        border-radius: 24px;
        @include media-breakpoint-up(md) {
          height: 720px;
        }
        .swiper-container {
          width: 100%;
          height: 420px;
          @include media-breakpoint-up(md) {
            height: 720px;
          }
          .swiper-slide {
            .image-wrapper {
              width: 100%;
              height: 420px;
              @include media-breakpoint-up(md) {
                height: 720px;
              }
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
            .video-wrapper {
              width: 100%;
              height: 420px;
              @include media-breakpoint-up(md) {
                height: 720px;
              }
              video {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
            .svg-mobile-open-modal {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 2;
              cursor: pointer;
            }
          }
          .swiper-pagination {
            bottom: 24px;
          }
          .has-modal {
            cursor: pointer;
          }
          .swiper-pagination-bullet {
            border-radius: 10px;
            opacity: 0.2;
            background: #fff;
            width: 40px;
            height: 10px;
          }
          .swiper-pagination-bullet-active {
            opacity: 1;
          }
        }
      }
      .box-image-video {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 420px;

        @include media-breakpoint-up(md) {
          height: 720px;
          border-radius: 24px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .btn-v1 {
    p {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 115%; /* 16px */
    }
    @mixin center($extend: true) {
      @if $extend {
        @extend %center;
      } @else {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    %center {
      @include center($extend: false);
    }

    @include center;
    background: #00205b;
    color: #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 34px;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.6s;
    overflow: hidden;
    position: relative;
    &:focus {
      outline: 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.5;
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:hover {
      background: #004b87;
      cursor: pointer;
      &:before {
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        transition: 0.7s;
      }
      &:after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: 0.7s;
      }
    }
  }
  .sync {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
    .box-component-sync {
      width: 100%;
    }
    .wrapper {
      flex-direction: column-reverse;
      gap: 40px;
      @include media-breakpoint-up(sm) {
        padding: 0 40px;
      }
      @include media-breakpoint-up(md) {
        gap: 80px;
        flex-direction: row;
      }
      @include media-breakpoint-up(desk) {
        padding: 0 80px;
      }
      .box-fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0;
        pointer-events: none;

        .close-button-about {
          position: fixed;
          top: 0;
          left: 0;
          cursor: pointer;
          width: 100%;
          height: 100%;
          cursor: pointer;
          // z-index: 0;
          // opacity: 0;
          z-index: 250;
          opacity: 1;
          pointer-events: none;
          background-color: #000;
          .box-svg {
            pointer-events: auto;
            border: 1px solid #fff;
            padding: 16px;
            position: absolute;
            top: 5vh;
            transition: 0.6s;
            right: 5vh;
            left: auto;
            margin: 0;
            border-radius: 100%;
            background: transparent;
            &:hover {
              background: #fff;
              // border: 1px solid #000;
              svg {
                path {
                  stroke: #000;
                }
                line {
                  stroke: #000;
                }
              }
            }
          }
          .svg {
            width: 20px;
            height: 17px;
            transition: 0.6s;
            path {
              transition: 0.6s;
            }
            line {
              transition: 0.6s;
            }
          }

          &.close-button-active {
            z-index: 250;
            opacity: 1;
          }
        }
        .box-video-player-about {
          margin: 0 auto;
          position: relative;
          z-index: 10000;
          height: 70vh;
          pointer-events: auto;
          @include media-breakpoint-up(md) {
            width: 70vw;
            height: 100%;
          }
          .plyr {
            height: 100%;
            // width: 70% !important;
            margin: 0 auto;
            position: relative;
            z-index: 10001;
            pointer-events: auto;
          }
          #player-about {
            width: 100%;
            max-height: 100vh;
            @include media-breakpoint-up(md) {
              max-height: 80vw;
            }
          }
          #player-about,
          .plyr {
            // Cor principal dos controles (play, barra de progresso, etc)
            --plyr-color-main: #04174f;

            // Cor do background dos controles
            --plyr-control-bg: #000;

            // Cor dos ícones dos controles
            --plyr-control-icon-color: #fff;

            // Cor do progresso carregado
            --plyr-video-progress-buffered-background: #bdbdbd;

            // Cor do progresso assistido
            --plyr-range-fill-background: #04174f;

            // Cor do texto do tempo
            --plyr-time-color: #000;
          }
        }
        .swiper-slide {
          opacity: 0;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          display: none;
          transform: translate(-50%, -50%);
          z-index: 12;
        }
        .active {
          display: flex;
          opacity: 1;
        }
      }
      .box-fixed-connectivity {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0;
        pointer-events: none;

        .close-button-about {
          position: fixed;
          top: 0;
          left: 0;
          cursor: pointer;
          width: 100%;
          height: 100%;
          cursor: pointer;
          // z-index: 0;
          // opacity: 0;
          z-index: 250;
          opacity: 1;
          background-color: #000;
          .box-svg {
            border: 1px solid #fff;
            padding: 16px;
            position: absolute;
            top: 5vh;
            transition: 0.6s;
            right: 5vh;
            left: auto;
            margin: 0;
            border-radius: 100%;
            background: transparent;
            &:hover {
              background: #fff;
              // border: 1px solid #000;
              svg {
                path {
                  stroke: #000;
                }
                line {
                  stroke: #000;
                }
              }
            }
          }
          .svg {
            width: 20px;
            height: 17px;
            transition: 0.6s;
            path {
              transition: 0.6s;
            }
            line {
              transition: 0.6s;
            }
          }

          &.close-button-active {
            z-index: 250;
            opacity: 1;
          }
        }
        .box-video-player-about {
          margin: 0 auto;
          position: relative;
          z-index: 9999;
          height: 70vh;
          @include media-breakpoint-up(md) {
            width: 70vw;
            height: 100%;
          }
          .plyr {
            height: 100%;
            // width: 70% !important;
            margin: 0 auto;
          }
          #player-about {
            width: 100%;
            max-height: 100vh;
            @include media-breakpoint-up(md) {
              max-height: 80vw;
            }
          }
          #player-about,
          .plyr {
            // Cor principal dos controles (play, barra de progresso, etc)
            --plyr-color-main: #04174f;

            // Cor do background dos controles
            --plyr-control-bg: #000;

            // Cor dos ícones dos controles
            --plyr-control-icon-color: #fff;

            // Cor do progresso carregado
            --plyr-video-progress-buffered-background: #bdbdbd;

            // Cor do progresso assistido
            --plyr-range-fill-background: #04174f;

            // Cor do texto do tempo
            --plyr-time-color: #000;
          }
        }
        .swiper-slide {
          opacity: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 12;
        }
        .active {
          opacity: 1;
        }
      }
      .active-fixed {
        z-index: 999;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .reverse-sync {
    .wrapper {
      flex-direction: column;
      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
      }
    }
  }
  .tabs-content {
    display: none;

    &.active {
      display: flex;
    }
  }
  .lte {
    .wrapper {
      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
      }
    }
  }
  .connectivity {
    justify-content: center;

    .reverse-side {
      @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
      }
    }
    .box-image-video {
      position: relative;
      pointer-events: none;
      .svg-mobile-open-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        cursor: pointer;
      }
      img,
      video {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      img {
        z-index: 2;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      video {
        z-index: 3;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .has-modal {
      pointer-events: auto;
      cursor: pointer;
    }
  }
  .case {
    .wrapper {
      gap: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 1660px;
      margin: 0 auto;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
      .media-card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .media-card__link {
          height: 100%;
          padding: 40px 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 24px;
          border-bottom: 1px solid #d4d5dc;
          .box-image-titulo {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            width: 100%;
          }
          .media-card__thumb {
            border-radius: 24px;
            width: 100%;
            height: 260px;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .media-card__title {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 26.4px */
            letter-spacing: 0.48px;
            margin-bottom: 8px;
          }
          .media-card__date {
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 145%; /* 26.1px */
            margin-bottom: 16px;
            display: flex;
          }
          .description-media-card {
            color: #36373b;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%; /* 23.2px */
            margin-bottom: 24px;
          }
          .label-media-card {
            color: #00205b;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 145%; /* 23.2px */
            position: relative;
            width: fit-content;
            &::after {
              content: '';
              bottom: -2px;
              width: 0;
              height: 2px;
              transition: 0.6s;
              left: 0;
              position: absolute;
              background-color: #00205b;
            }
          }
          svg {
            transition: transform 0.3s ease-in-out;
          }
          &:hover {
            .label-media-card {
              &::after {
                width: 100%;
              }
            }
            svg {
              animation: pulse 1s infinite;
            }
          }
        }
        @keyframes pulse {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.15);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
  }
  .box-repeater-item {
    .row-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      .item-text {
        color: #000000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
      }
    }
  }
  .banner-lets-work {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}
