@import '../../global/breakpoints';
@import '../../global/colors';
body.page-template-syncIoT-main {
  main {
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
  }
  &.body-modal {
    overflow: hidden;
  }
  .banner-page {
    position: relative;
    height: 180px;
    margin-top: 54px;
    width: 100%;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-top: 84px;
    }
    .box-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .img-desktop {
        display: none;
        @include media-breakpoint-up(md) {
          display: flex;
        }
      }
      .img-mobile {
        display: flex;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
    .box-svg {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }

  .tabs-wrapper {
    max-width: 1024px;
    margin: 0 auto 40px;
    @include media-breakpoint-up(md) {
      width: fit-content;
      margin: 0 auto 80px;
      border-bottom: 1px solid #d4d5dc;
    }
    .tabs-nav {
      flex-direction: row;
      gap: 40px;
      justify-content: space-between;
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
      .tab-item {
        color: #36373b;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
        cursor: pointer;
        white-space: nowrap;
        padding-top: 80px;

        @include media-breakpoint-up(md) {
          padding-bottom: 23px;
        }
        &.active {
          color: #04174f;
          font-weight: 700;
          position: relative;
          &::after {
            content: '';
            bottom: 0;
            width: 100%;
            height: 2px;
            transition: 0.6s;
            left: 0;
            position: absolute;
            background-color: #04174f;
          }
        }
      }
    }
    .box-select {
      display: flex;
      width: 100%;
      font-size: 18px;
      border: 1px solid #ccc;
      border-radius: 4px;
      max-width: 240px;
      margin: 0 auto;
      color: #00205b;
      position: relative;
      justify-content: center;
      @include media-breakpoint-up(md) {
        display: none;
      }
      .tabs-select {
        text-align: center;
        width: 100%;
        padding: 10px 20px 10px 0;
        text-align-last: center;
        select {
          color: #00205b;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%; /* 16px */
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 45px;
        transform: translateY(-50%);
      }
    }
  }

  .tabs-content {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
    .wrapper {
      display: flex;
      align-items: center;
      @include media-breakpoint-up(desktop) {
        padding: 0 !important;
      }
      .box-content {
        width: 100%;
        max-width: 640px;
        .label-synciq {
          color: #36373b;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 145%; /* 26.1px */
          margin-bottom: 16px;
        }
        .box-svg {
          margin-bottom: 24px;
        }
        .description-synciq {
          color: #1e1e1e;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 145%; /* 23.2px */
          margin-bottom: 32px;
        }
        .box-repeater-item {
          margin-bottom: 24px;
          .row-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 14px;
            padding: 20px 0;
            border-bottom: 1px solid #d4d5dc;
            &:first-child {
              padding-top: 0;
            }
            .item-text {
              line-height: 130%;
            }
          }
        }
        .link-lets {
          border-radius: 8px;
          padding: 16px 34px;
          display: flex;
          // background: #04174f;
          max-width: fit-content;
          width: 100%;
          @include media-breakpoint-up(md) {
            width: fit-content;
            margin: initial;
            max-width: initial;
          }
          p {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 16px */
          }
        }
      }
      .box-image-video {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 420px;
        border-radius: 24px;
        @include media-breakpoint-up(md) {
          height: 720px;
        }
        .swiper-container {
          width: 100%;
          height: 420px;
          @include media-breakpoint-up(md) {
            height: 720px;
          }
          .swiper-slide {
            .image-wrapper {
              width: 100%;
              height: 420px;
              @include media-breakpoint-up(md) {
                height: 720px;
              }
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
            .video-wrapper {
              width: 100%;
              height: 420px;

              @include media-breakpoint-up(md) {
                height: 720px;
              }
              video {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
            .svg-mobile-open-modal {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 2;
              cursor: pointer;
            }
          }
          .has-modal {
            cursor: pointer;
          }
          .swiper-pagination {
            bottom: 24px;
          }
          .swiper-pagination-bullet {
            border-radius: 10px;
            opacity: 0.2;
            background: #fff;
            width: 40px;
            height: 10px;
          }
          .swiper-pagination-bullet-active {
            opacity: 1;
          }
        }
      }
      .box-image-video {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 420px;

        @include media-breakpoint-up(md) {
          height: 720px;
          border-radius: 24px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .btn-v1 {
    p {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 115%; /* 16px */
    }
    @mixin center($extend: true) {
      @if $extend {
        @extend %center;
      } @else {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    %center {
      @include center($extend: false);
    }

    @include center;
    background: #00205b;
    color: #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 34px;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.6s;
    overflow: hidden;
    position: relative;
    &:focus {
      outline: 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.5;
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 0.2);
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(5px);
      transform: translateX(-100px) skewX(-15deg);
    }
    &:hover {
      background: #004b87;
      cursor: pointer;
      &:before {
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        transition: 0.7s;
      }
      &:after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: 0.7s;
      }
    }
  }
  .sync {
    .wrapper {
      max-width: 1440px;
      margin: 0 auto;
      flex-direction: column-reverse;
      gap: 40px;
      position: relative;
      @include media-breakpoint-up(sm) {
        padding: 0 40px;
      }
      @include media-breakpoint-up(md) {
        gap: 80px;
        flex-direction: row;
      }
      @include media-breakpoint-up(desk) {
        padding: 0 80px;
      }
      // Modal de vídeo centralizado e fixo
      .box-fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        .close-button-about {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          // z-index: 0;
          // opacity: 0;
          z-index: 250;
          pointer-events: none;
          opacity: 1;
          background-color: #000;
          .box-svg {
            border: 1px solid #fff;
            padding: 16px;
            position: absolute;
            top: 5vh;
            transition: 0.6s;
            right: 5vh;
            pointer-events: auto;
            left: auto;
            margin: 0;
            border-radius: 100%;
            background: transparent;
            &:hover {
              background: #fff;
              // border: 1px solid #000;
              svg {
                path {
                  stroke: #000;
                }
                line {
                  stroke: #000;
                }
              }
            }
          }
          .svg {
            width: 20px;
            height: 17px;
            transition: 0.6s;
            path {
              transition: 0.6s;
            }
            line {
              transition: 0.6s;
            }
          }

          &.close-button-active {
            z-index: 250;
            opacity: 1;
          }
        }
        .box-video-player-about {
          margin: 0 auto;
          position: relative;
          z-index: 10000;
          height: 70vh;
          pointer-events: auto;
          @include media-breakpoint-up(md) {
            width: 70vw;
            height: 100%;
          }
          .plyr {
            // width: 70% !important;
            margin: 0 auto;
            position: relative;
            z-index: 10001;
            height: 100%;
            pointer-events: auto;
          }
          #player-about {
            width: 100%;
            max-height: 100vh;
            @include media-breakpoint-up(md) {
              max-height: 80vw;
            }
          }
          #player-about,
          .plyr {
            // Cor principal dos controles (play, barra de progresso, etc)
            --plyr-color-main: #04174f;

            // Cor do background dos controles
            --plyr-control-bg: #000;

            // Cor dos ícones dos controles
            --plyr-control-icon-color: #fff;

            // Cor do progresso carregado
            --plyr-video-progress-buffered-background: #bdbdbd;

            // Cor do progresso assistido
            --plyr-range-fill-background: #04174f;

            // Cor do texto do tempo
            --plyr-time-color: #000;
          }
        }
        .swiper-slide {
          opacity: 0;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          display: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 12;
        }
        .active {
          display: flex;
          pointer-events: auto;
          opacity: 1;
        }
      }
      .active-fixed {
        z-index: 999;
        opacity: 1;
        // pointer-events: auto;
      }
    }
  }
  .tabs-content {
    display: none;

    &.active {
      display: flex;
    }
  }
  .case {
    .wrapper {
      gap: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 1660px;
      margin: 0 auto;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
      .media-card {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .media-card__link {
          height: 100%;
          padding: 40px 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 24px;
          border-bottom: 1px solid #d4d5dc;
          .box-image-titulo {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            width: 100%;
          }
          .media-card__thumb {
            border-radius: 24px;
            width: 100%;
            height: 260px;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .media-card__title {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 26.4px */
            letter-spacing: 0.48px;
            margin-bottom: 8px;
          }
          .media-card__date {
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 145%; /* 26.1px */
            margin-bottom: 16px;
            display: flex;
          }
          .description-media-card {
            color: #36373b;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%; /* 23.2px */
            margin-bottom: 24px;
          }
          .label-media-card {
            color: #00205b;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 145%; /* 23.2px */
            position: relative;
            width: fit-content;
            &::after {
              content: '';
              bottom: -2px;
              width: 0;
              height: 2px;
              transition: 0.6s;
              left: 0;
              position: absolute;
              background-color: #00205b;
            }
          }
          svg {
            transition: transform 0.3s ease-in-out;
          }
          &:hover {
            .label-media-card {
              &::after {
                width: 100%;
              }
            }
            svg {
              animation: pulse 1s infinite;
            }
          }
        }
        @keyframes pulse {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.15);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
  }
  .box-gnss {
    justify-content: center;
    background-color: #00205b;
    padding: 32px 0;
    @include media-breakpoint-up(md) {
      padding: 0;
      background-color: initial;
    }
    .gnss-swiper {
      flex-direction: row;
      gap: 40px;
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
      .wrapper {
        align-items: flex-start;
        justify-content: center;
        gap: 40px;
        flex-direction: column;
        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
      }
      .box-thumbnail,
      .box-thumbnail-smart,
      .box-thumbnail-bluetooth,
      .box-thumbnail-antennas,
      .slider-thumbnail,
      .slider-thumbnail-smart,
      .slider-thumbnail-bluetooth,
      .slider-thumbnail-antennas {
        width: 100%;
        border-radius: 40px;
        background: #04174f;
        padding: 40px;
        width: 375px;
        @include media-breakpoint-up(md) {
          width: 480px;
        }
        .label-all-modules {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 145%; /* 23.2px */
          margin-bottom: 24px;
        }
        .swiper-wrapper {
          display: flex;
          gap: 20px;
          flex-direction: row;
          @include media-breakpoint-up(md) {
            flex-direction: column;
          }
          .box-swiper-slide {
            height: auto;
            width: 100%;
            cursor: pointer;
            padding-bottom: 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            border-bottom: 1px solid #d4d5dc;
            position: relative;
            &::after {
              content: '';
              bottom: -1px;
              width: 0;
              height: 2px;
              transition: 0.6s;
              left: 0;
              position: absolute;
              background-color: #fff;
            }

            .box-text {
              .titulo-thumb {
                color: #fff;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 28.8px */
              }
              .sub-titulo-thumb {
                color: #fff;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 145%; /* 20.3px */
                letter-spacing: -0.14px;
              }
            }
            svg {
              opacity: 0;
            }
            &.swiper-slide-thumb-active {
              &::after {
                width: 190px;
              }
              .box-text {
                .titulo-thumb {
                  font-weight: 700;
                }
              }
              svg {
                opacity: 1;
              }
            }
          }
          .is-active {
            svg {
              opacity: 1;
            }

            &::after {
              width: 190px;
            }
          }
        }
      }
      .box-slider,
      .box-smart,
      .box-bluetooth,
      .box-antennas,
      .slider,
      .slider-smart,
      .slider-bluetooth,
      .slider-antennas {
        width: 100%;
        border-radius: 40px;
        border: 2px solid #d4d5dc;
        padding: 40px;
        max-width: 375px;
        transition: 0.6s;
        @include media-breakpoint-up(sm) {
          max-width: 450px;
        }
        @include media-breakpoint-up(md) {
          max-width: 600px;
        }
        @include media-breakpoint-up(xl) {
          max-width: 800px;
        }
        @include media-breakpoint-up(xxl) {
          max-width: 1064px;
        }
        .swiper-wrapper {
          .box-swiper-slide-content {
            .box-content {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              gap: 54px;
              max-width: initial;
              .box-textos-container {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;
                .titulo-thumb {
                  color: #04174f;
                  font-size: 34px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 130%; /* 44.2px */
                  margin-bottom: 16px;
                }
                .description-container {
                  color: #1e1e1e;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 145%; /* 23.2px */
                  margin-bottom: 40px;
                }
              }
              .box-imagem-container {
                height: 100%;
                img {
                  width: 229px;
                  height: 221px;
                  object-fit: cover;
                }
              }
            }
            .box-accordion {
              .description-acc {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease;
              }
              .acc.open .box-title {
                padding-bottom: 20px;
              }
              .acc.open .description-acc {
                max-height: 500px; // Ajuste conforme o conteúdo esperado
                // padding-top: 20px;
              }

              .acc {
                padding: 24px 0;
                border-bottom: 1px solid #d4d5dc;
                max-width: calc(100% - 229px);
                .box-title {
                  display: flex;
                  flex-direction: row;
                  gap: 20px;
                  transition: 0.6s;
                  cursor: pointer;
                  .title-acc {
                    color: #00205b;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; /* 116.667% */
                    letter-spacing: 0.48px;
                  }
                  .box-svg {
                    display: flex;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    position: relative;
                    svg {
                      width: 25px;
                      height: 25px;
                      transition: opacity 0.3s ease;
                      position: absolute;
                      left: 50%;
                      top: 50%;
                      transform: translate(-50%, -50%);
                    }
                  }
                }
                .description-acc {
                  color: #1e1e1e;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 145%; /* 23.2px */
                  .box-repeater-sumary {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    .row-summary {
                      width: 100px;
                      height: 120px;
                      a {
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        transition: 0.6s;
                        display: flex;
                        position: relative;
                        border: 1px solid #d4d5dc;
                        background-color: #fff;
                        border-radius: 8px;
                        &::after {
                          content: '';
                          bottom: 0px;
                          width: 100%;
                          height: 100%;
                          transition: 0.6s;
                          left: 0;
                          position: absolute;
                          background: rgba(212, 213, 220, 0.75);
                          opacity: 0;
                          z-index: 2;
                        }
                        .pdf-logo {
                          position: absolute;
                          transition: 0.6s;
                          top: 8px;
                          left: 8px;
                          z-index: 1;
                        }
                        .logo-download {
                          position: absolute;
                          transition: 0.6s;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                          z-index: 3;
                          path {
                            transition: 0.6s;
                          }
                        }
                        p {
                          z-index: 1;
                          color: #00205b;
                          font-size: 12px;
                          transition: 0.6s;
                          font-style: normal;
                          font-weight: 600;
                          line-height: 100%;
                          position: absolute;
                          bottom: 8px;
                          left: 8px;
                          width: 100%;
                        }
                        &:hover {
                          // scale: 1.05;
                          .logo-download {
                            path {
                              fill: #00205b;
                            }
                          }
                          &::after {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
                .box-repearter-downloads-off {
                  display: none;
                  flex-direction: row;
                  gap: 12px;
                  .row-file-downloads {
                    width: 100px;
                    height: 120px;
                    a {
                      cursor: pointer;
                      height: 100%;
                      width: 100%;
                      transition: 0.6s;
                      display: flex;
                      position: relative;
                      border: 1px solid #d4d5dc;
                      background-color: #fff;
                      border-radius: 8px;
                      &::after {
                        content: '';
                        bottom: 0px;
                        width: 100%;
                        height: 100%;
                        transition: 0.6s;
                        left: 0;
                        position: absolute;
                        background: rgba(212, 213, 220, 0.75);
                        opacity: 0;
                        z-index: 2;
                      }
                      .pdf-logo {
                        position: absolute;
                        transition: 0.6s;
                        top: 8px;
                        left: 8px;
                        z-index: 1;
                      }
                      .logo-download {
                        position: absolute;
                        transition: 0.6s;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 3;
                        path {
                          transition: 0.6s;
                        }
                      }
                      p {
                        z-index: 1;
                        color: #00205b;
                        font-size: 12px;
                        transition: 0.6s;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100%;
                        position: absolute;
                        bottom: 8px;
                        left: 8px;
                        width: 100%;
                      }
                      &:hover {
                        // scale: 1.05;
                        .logo-download {
                          path {
                            fill: #00205b;
                          }
                        }
                        &::after {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
                form {
                  label {
                    .label {
                      color: #00205b;
                      font-family: 'Nunito Sans', sans-serif;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 145%; /* 23.2px */
                      strong {
                        color: #e63757;
                        font-family: 'Nunito Sans', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 145%;
                      }
                    }
                    input,
                    textarea,
                    select {
                      border-radius: 8px;
                      border: 1px solid #d4d5dc;
                      padding: 16px;
                      color: #00205b;
                      font-family: 'Nunito Sans', sans-serif;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      width: 100%;
                      line-height: 145%; /* 23.2px */
                      transition: 0.6s;
                    }
                    input::placeholder,
                    textarea::placeholder,
                    select::placeholder {
                      color: #d4d5dc;
                      opacity: 1; /* garante que a cor fique visível em todos os navegadores */
                    }
                    input:focus,
                    textarea:focus,
                    select:focus {
                      border: 1px solid #00205b;
                      outline: none; /* Remove a borda azul padrão do navegador */
                    }
                  }
                  .wpcf7-submit {
                    cursor: pointer;
                    margin-top: 32px;
                    border-radius: 8px;
                    background: #00205b;
                    padding: 16px 48px;
                    color: #fff;
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 16px */
                    transition: 0.6s;
                    &:hover {
                      background: #004b87;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
          .box-swiper-slide-content {
            display: none;
          }
          .is-active {
            display: block;
          }
        }
      }
    }
    .gnss-swiper-mobile {
      flex-direction: column;
      overflow: hidden;
      min-height: 400px;
      display: flex;
      @include media-breakpoint-up(md) {
        display: none;
      }
      .box-thumbs {
        .label-all-modules {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%; /* 16px */
          margin-bottom: 24px;
        }
        .box-row-thumbs {
          display: flex; // apenas esse, o moderno
          flex-direction: row;
          overflow-x: scroll; // mais cross-browser que scroll direto
          gap: 12px;
          width: 100%;
          margin-bottom: 24px;
          padding: 0 16px;
          .row-slide,
          .row-slide-smart,
          .row-slide-bluetooth,
          .row-slide-antennas {
            flex-shrink: 0; // impede encolhimento
            width: 200px; // defina uma largura ou min-width
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-radius: 8px;
            background: #fff;
            padding: 12px;

            .titulo-thumb {
              color: #00205b;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 100%; /* 14px */
            }
          }
        }
      }
      .box-conteudo-mobile {
        .row-slide-conteudo,
        .row-slide-conteudo-smart,
        .row-slide-conteudo-bluetooth,
        .row-slide-conteudo-antennas {
          .box-content {
            padding: initial;
            .box-textos-container {
              .titulo-thumb {
                color: #fff;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 26.4px */
                letter-spacing: 0.48px;
                margin-bottom: 16px;
              }
              .description-container {
                color: #d4d5dc;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 145%; /* 23.2px */
                margin-bottom: 16px;
              }
            }
            .box-imagem-container {
              margin-bottom: 16px;
              img {
                width: 137px;
                height: 132px;
                object-fit: cover;
              }
            }
          }
          .box-accordion-mobile {
            .description-acc-mobile {
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.4s ease;
            }

            .acc-mobile.open .description-acc-mobile {
              max-height: initial !important; // Ajuste conforme o conteúdo esperado
              padding-top: 24px;
            }

            .acc-mobile {
              padding: 24px 0;
              border-bottom: 1px solid #d4d5dc;
              .box-title {
                display: flex;
                flex-direction: row;
                gap: 20px;
                cursor: pointer;
                .title-acc {
                  color: #fff;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 28px; /* 116.667% */
                  letter-spacing: 0.48px;
                }
                .box-svg {
                  display: flex;
                  align-items: center;
                  width: 25px;
                  height: 25px;
                  position: relative;
                  svg {
                    width: 25px;
                    height: 25px;
                    transition: opacity 0.3s ease;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
              .description-acc-mobile {
                color: #d4d5dc;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 145%; /* 23.2px */
                .box-repeater-sumary {
                  display: flex;
                  flex-direction: row;
                  gap: 12px;
                  .row-summary {
                    width: 100px;
                    height: 120px;
                    a {
                      cursor: pointer;
                      height: 100%;
                      width: 100%;
                      transition: 0.6s;
                      display: flex;
                      position: relative;
                      border: 1px solid #d4d5dc;
                      background-color: #fff;
                      border-radius: 8px;
                      &::after {
                        content: '';
                        bottom: 0px;
                        width: 100%;
                        height: 100%;
                        transition: 0.6s;
                        left: 0;
                        position: absolute;
                        background: rgba(212, 213, 220, 0.75);
                        opacity: 0;
                        z-index: 2;
                      }
                      .pdf-logo {
                        position: absolute;
                        transition: 0.6s;
                        top: 8px;
                        left: 8px;
                        z-index: 1;
                      }
                      .logo-download {
                        position: absolute;
                        transition: 0.6s;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 3;
                        path {
                          transition: 0.6s;
                        }
                      }
                      p {
                        z-index: 1;
                        color: #00205b;
                        font-size: 12px;
                        transition: 0.6s;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100%;
                        position: absolute;
                        bottom: 8px;
                        left: 8px;
                        width: 100%;
                      }
                      &:hover {
                        // scale: 1.05;
                        .logo-download {
                          path {
                            fill: #00205b;
                          }
                        }
                        &::after {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }
              .box-repearter-downloads-off {
                display: none;
                flex-direction: row;
                gap: 12px;
                .row-file-downloads {
                        width: 100px;
                    height: 120px;
                  a {
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    transition: 0.6s;
                    display: flex;
                    position: relative;
                    border: 1px solid #d4d5dc;
                    background-color: #fff;
                    border-radius: 8px;
                    &::after {
                      content: '';
                      bottom: 0px;
                      width: 100%;
                      height: 100%;
                      transition: 0.6s;
                      left: 0;
                      position: absolute;
                      background: rgba(212, 213, 220, 0.75);
                      opacity: 0;
                      z-index: 2;
                    }
                    .pdf-logo {
                      position: absolute;
                      transition: 0.6s;
                      top: 8px;
                      left: 8px;
                      z-index: 1;
                    }
                    .logo-download {
                      position: absolute;
                      transition: 0.6s;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      z-index: 3;
                      path {
                        transition: 0.6s;
                      }
                    }
                    p {
                      z-index: 1;
                      color: #00205b;
                      font-size: 12px;
                      transition: 0.6s;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 100%;
                      position: absolute;
                      bottom: 8px;
                      left: 8px;
                      width: 100%;
                    }
                    &:hover {
                      // scale: 1.05;
                      .logo-download {
                        path {
                          fill: #00205b;
                        }
                      }
                      &::after {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              form {
                label {
                  .label {
                    color: #fff;
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 145%; /* 23.2px */
                    strong {
                      color: #e63757;
                      font-family: 'Nunito Sans', sans-serif;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 145%;
                    }
                  }
                  input,
                  textarea,
                  select {
                    border-radius: 8px;
                    border: 1px solid #d4d5dc;
                    padding: 16px;
                    color: #fff;
                    font-family: 'Nunito Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    width: 100%;
                    line-height: 145%; /* 23.2px */
                    transition: 0.6s;
                  }
                  input::placeholder,
                  textarea::placeholder,
                  select::placeholder {
                    color: #d4d5dc;
                    opacity: 1; /* garante que a cor fique visível em todos os navegadores */
                  }
                  input:focus,
                  textarea:focus,
                  select:focus {
                    border: 1px solid #fff;
                    outline: none; /* Remove a borda azul padrão do navegador */
                  }
                }
                .wpcf7-submit {
                  cursor: pointer;
                  margin-top: 32px;
                  border-radius: 8px;
                  background: #fff;
                  padding: 16px 48px;
                  color: #00205b;
                  font-family: 'Nunito Sans', sans-serif;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 100%; /* 16px */
                  transition: 0.6s;
                }
              }
            }
          }
        }
      }
    }
  }
  .banner-lets-work {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}
